[submodule "home/git/github.com/git/git"]
	path = home/git/github.com/git/git
	url = https://github.com/git/git.git
[submodule "home/git/github.com/thoughtbot/dotfiles"]
	path = home/git/github.com/thoughtbot/dotfiles
	url = git@github.com:thoughtbot/dotfiles.git
[submodule "home/git/github.com/memcached/memcached"]
	path = home/git/github.com/memcached/memcached
	url = git@github.com:memcached/memcached.git
[submodule "home/.anyenv"]
	path = home/.anyenv
	url = https://github.com/riywo/anyenv
[submodule "home/git/github.com/tj/git-extras"]
	path = home/git/github.com/tj/git-extras
	url = https://github.com/tj/git-extras.git
[submodule "home/git/github.com/rupa/z"]
	path = home/git/github.com/rupa/z
	url = https://github.com/rupa/z.git
[submodule "home/git/github.com/github/hub"]
	path = home/git/github.com/github/hub
	url = https://github.com/github/hub.git
