[submodule "home/git/github.com/git/git"]
	path = home/git/github.com/git/git
	url = https://github.com/git/git.git
[submodule "home/git/github.com/thoughtbot/dotfiles"]
	path = home/git/github.com/thoughtbot/dotfiles
	url = git@github.com:thoughtbot/dotfiles.git
[submodule "home/git/github.com/memcached/memcached"]
	path = home/git/github.com/memcached/memcached
	url = git@github.com:memcached/memcached.git
