.envrc
.erdconfig
.local
.idea
.rubocop_todo.yml
/.bundle
!/.bundle/config
/vendor/bundle
[._]*.s[a-w][a-z]
tags

# rails customize
config/initializers/private_customize.rb
spec/support/private_customize.rb
