[alias]
  aliases = !git config --get-regexp alias
  br     = branch
  ci     = commit
  co     = checkout
  co-pr  = !git checkout-pullrequest
  di     = diff
  graph  = log --graph -C -M --pretty=format:'<%h> %ad [%an] %Cgreen%d%Creset %s' --all --date=short
  ignore = "!gi() { curl -L -s https://www.gitignore.io/api/$@ ;}; gi"
  me     = !git config --get-regexp user
  st     = status
  log-prs = "!f() { hash=`git log -n 1 --pretty='%H' $1`; git log --merges --reverse --ancestry-path ${hash}...master --grep 'Merge pull request #'; }; f"
  show-pr = "!f() { hash=`git log -n 1 --pretty='%H' $1`; git log --merges --oneline --reverse --ancestry-path ${hash}...master | grep 'Merge pull request #' | head -n 1; }; f"
	# show-pr = "!f() { git log --merges --oneline --reverse --ancestry-path $1...master | grep 'Merge pull request #' | head -n 1; }; f"
	open-pr = "!f() { hash=`git log -n 1 --pretty='%H' $1`; hub browse -- `git log --merges --oneline --reverse --ancestry-path ${hash}...master | grep 'Merge pull request #' | head -n 1 | cut -f5 -d' ' | sed -e 's%#%pull/%'`; }; f"
	# open-pr = "!f() { hub browse -- `git log --merges --oneline --reverse --ancestry-path $1...master | grep 'Merge pull request #' | head -n 1 | cut -f5 -d' ' | sed -e 's%#%pull/%'`; }; f"
  checkout-pullrequest = !sh -c 'git fetch origin pull/$1/head:pr/$1 && git checkout pr/$1' -
[color]
  branch      = auto
  diff        = auto
  interactive = auto
  status      = auto
  ui = auto
[push]
  default = simple
[core]
  editor = vim
  excludesfile = ~/.gitignore
[user]
  name = 
  email = 
[credential]
  helper = osxkeychain
[commit]
  template = ~/.git_template/commit.template
[fetch]
  prune = true
