.envrc
.erdconfig
.local
.idea
.pry_history
.yardoc
.yard_output
/.bundle
!/.bundle/config
/vendor/bundle
[._]*.s[a-w][a-z]
tags

# rails customize
config/initializers/private_customize.rb
spec/support/private_customize.rb
