[mysqld]
innodb_file_per_table = OFF
general_log=1
general_log_file="/tmp/mysql_general"
log-slow-admin-statements
log_error="/tmp/mysql"
log_queries_not_using_indexes=1
long_query_time=3
slow_query_log=1
slow_query_log_file="/tmp/mysql_slow_query"
pid-file=/tmp/mysqld.pid
socket=/tmp/mysql.sock
