[mysqld]
general_log=1
general_log_file=/tmp/mysql_general
innodb_file_per_table = OFF
log-slow-admin-statements
log_error=/tmp/mysql
log_queries_not_using_indexes=1
long_query_time=3
pid-file=/tmp/mysqld.pid
slow_query_log=1
slow_query_log_file=/tmp/mysql_slow_query
socket=/tmp/mysql.sock
