* * * * * crontab $HOME/crontab
0 * * * * /usr/local/bin/brew bundle dump -f > /tmp/brew_bundle_dump.log.`date +\%Y\%m\%d` 2>&1
0 */2 * * * /usr/local/bin/brew bundle upgrade > /tmp/brew_upgrade.log.`date +\%Y\%m\%d` 2>&1
