* * * * * crontab $HOME/crontab
0 * * * * /usr/local/bin/brew bundle dump -f --file=~/Brewfile.$(system_profiler SPHardwareDataType 2> /dev/null | grep 'Serial Number (system)' | awk -F ': ' '{print $2}')
0 */2 * * * /usr/local/bin/brew upgrade > /tmp/brew_upgrade.log.`date +\%Y\%m\%d` 2>&1
